/* Ganti warna latar belakang header accordion yang aktif (expanded) */
.accordion-button.active {
    background-color: #3498db; /* Warna biru, sesuaikan dengan warna yang diinginkan */
    color: #fff; /* Warna teks putih, sesuaikan dengan warna yang diinginkan */
}

/* Ganti warna latar belakang header accordion yang tidak aktif (collapsed) */
.accordion-button:not(.active) {
    background-color: #e0e0e0; /* Warna abu-abu, sesuaikan dengan warna yang diinginkan */
    color: #333; /* Warna teks hitam, sesuaikan dengan warna yang diinginkan */
}

/* Ganti warna latar belakang konten accordion */
.accordion-body {
    background-color: #f5f5f5; /* Warna abu-abu muda, sesuaikan dengan warna yang diinginkan */
    color: #333; /* Warna teks hitam, sesuaikan dengan warna yang diinginkan */
}
h1 {
    margin-bottom: 20px;
}
