body {
    margin: 0;
    padding:0;
    background-color: white !important;
}
header {
  animation: slideDown 0.5s ease-out;
}
@keyframes slideDown {
  from {
      transform: translateY(-50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

.stick{
    position:sticky;
    top: 0;
    z-index: 10;
    
}

.login {
    height: 19.5px;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content:flex-end;
    font-size: small;
}

.user-actions {
    float: right;
    margin-right: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 20px;

}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
    position: relative;
}

nav a:hover {
    color: white;
    border-bottom: 2px solid #1bc668;
}
nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #347efe; /* Warna garis bawah default */
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}
nav a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.first-bar {
    transition: box-shadow 0.3s ease;
    padding: 10px;
    font-size: small;
    background-color: #1bc668;
    color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.logo{
    margin-left: 40px;
    width: auto;
    height: 40px; /* Sesuaikan ukuran logo */
    justify-content: left;
}

.cart img {
    height: 20px; 
    vertical-align: middle;
}

.search-box {
    margin-left: 150px;
    background-color:#ffa8fb;
    padding: 5px 15px; 
    border-radius: 5px; 
    display: inline-block;
}

.search-box div {
    display: inline-block;
    vertical-align: middle;
}

.listnavbar{
    margin-left: 250px;
    font-size: medium;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}

.listnavbar :hover{
    opacity: 1;
    background-color:#9e3cd7;
    transition: 0.7s;
}

.first-bar input[type=text] {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    background-image: url('searchicon.png');
    background-position: 7px 7px;
    background-repeat: no-repeat;
    background-size: 15px;
    padding-left: 30px;
    transition: box-shadow 0.3s ease;
  }

.first-bar input[type=text]:focus {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
  footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.arrowleft, .arrowright{
    width: 40px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
.arrowleft:hover, .arrowright:hover {
  opacity: 1;
  transform: rotate(360deg);
}

/* card */
.card {
    background: #fff;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  .card img {
    display: block;
    width: 100%;
    height: 12rem;
    object-fit: cover;
  }
  
  .card-body {
    padding: 16px;
  }
  .card-body h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }
  .card-body p {
    margin: 0;
    margin-bottom: 16px;
    color: #333;
  }
  
  .card-body button {
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
    width: 100%;
    background-color: rgb(0, 110, 255);
    font-size: 18px;
    padding: 16px 0;
    color: #fff;
    border-radius: 10px;
  }
  .card-body button:hover {
    animation: pulse 1s normal;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none;
    width: 100%;
    background-color: rgb(0, 110, 255);
    font-size: 18px;
    padding: 16px 0;
    color: #fff;
    border-radius: 10px;
  }
  

  @keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
  .card-body button:hover {
    background-color: rgb(0, 80, 255);
  }
  .card:hover {
    transform: scale(1.05);
}
  
  product-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0;
    gap: 40px;
  }
  
  product-item {
    width: 25%;
  }

  @media (max-width: 767px) {
    .card img {
        height: 200px; /* Sesuaikan tinggi gambar untuk tampilan mobile */
    }

    .card-body h2 {
        font-size: 16px; /* Sesuaikan ukuran font untuk tampilan mobile */
    }

    .card-body button {
        font-size: 14px; /* Sesuaikan ukuran font tombol untuk tampilan mobile */
    }
}